:root {
    --accent: #16DB99;
    --background: #FDEBC4;
    --text: #222;
    --menu-lines: #EFDFBD;
}

/* ====== Base ====== */
body {
    margin: 0;
    background: var(--background);
    font-family: 'Smythe', Arial, sans-serif;
}

li { 
	list-style-type: none; 
}

h2 {
	width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 3.4375rem;
	text-align: center;
}

/* ====== Banner ====== */
.banner { position: relative; }
.banner-caption {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 8px #000;
    text-align: center;
    width: 100%;
    font-family: 'Smythe', Arial, sans-serif;
}
.banner-name { 
	display: block;
	 font-weight: bold; 
	 margin-bottom: 8px; }

.banner-slogan {
	 display: block; 
	 font-size: 1rem; 
	 font-weight: 400; 
	}
figure {
    
    max-height: 400px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 1;
	display: block;
	max-width: 1200px;
}

/* ====== Menu ====== */	

main ul {
	padding: 24px;
	margin: 0;
}

main li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.5rem;
	align-content: center;
	align-items: center;
	
}

.main div {
	display: flex;
	flex-direction: column;
}

.ingredients {
	margin: 24px;
	max-width: 100px;
}

.addfood-btn, .removefood-btn {
	
	gap: 1rem;
	border-radius: 50%;
	border: none;
}

.menu-btn {
	display: flex;
	gap: 1rem;
	
    
}

.menu-item p {
	padding: 0; 
    margin: 0;
}


.menu-icon {
	font-size: 4.5rem;
	
}







/* ====== Order Section ====== */
.order {
    display: block;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0;
}

section ul {
	text-align: center;
	padding: 24px;
}

section li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5rem;
	
}
.order-name-wrapper {
	max-width: 1rem;
}

.order-qty-wrapper {
	display: flex;
	flex-direction: column;
}





/* ====== Modal ====== */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    background-color: white;
	box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}

input {
	width: 100%;
	height: 100%;
	padding: 1rem;
	font-size: 1rem;
}

h3 { /*"checkout" text*/

}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.pay-btn {
    background-color:#4F1D03;
    text-align: center;
    min-width: 250px;
    border-radius: 8px;
    border: none;
    padding: 12px 24px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

/* ====== Misc ====== */



/*responsivitet*/

